
.subnav-hero-section {
    text-align: center;
    background: #008457;
    background-size: cover;
    position: relative;
    overflow: visible;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
  }
  
  .subnav-hero-section .subnav-hero-headline {
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-size: 72px;
  }
  
  .subnav-hero-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
  }
  
  .subnav-hero-subnav li {
    float: none;
    display: inline-block;
  }
  
  .subnav-hero-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 0.75rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out;
  }
  
  .subnav-hero-subnav li a.is-active {
    background: rgba(254, 254, 254, 0.15);
  }
  
  .subnav-hero-subnav li a:hover {
    background: rgba(254, 254, 254, 0.15);
  }
  
  .menu-text {
    font-family: 'Playfair Display SC', serif;
    font-size: 24px;
  }

  .callout {
    margin: 50px;
    padding: 3rem;
  }

  #map {
    height: 300px;
  }

button {
  margin: 10px;
}

h1 {
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
}

h2 {
  font-family: 'Playfair Display SC', serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 40px;
}

h3 {
  font-family: 'Epilogue', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-family: 'Epilogue', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 700px) {
  .subnav-hero-section .subnav-hero-headline {
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-size: 45px;
  }
  .subnav-hero-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 0.50rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out;
  }
  .menu-text {
    font-family: 'Playfair Display SC', serif;
    font-size: 18px;
  }
}

